<!DOCTYPE html>
<html>
<head>
  <title>ApiIntegration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="top-banner"> </div>
<%# if current_user.present? %>
<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li>
      <a class="active_bar" href="#"> <i class="fa fa-key"></i> Authentication </a>
      <ul class="submenu">
        <li>
          <%= link_to(raw('<i class="fa fa-user"></i> Devise'), devise_path, :method => :get) %>
        </li>
        <li><%= link_to(raw('<i class="fa fa-facebook"> </i> FaceBook'), facebook_path, :method => :get) %></li>
        <li> <%= link_to(raw('<i class="fa fa-google-plus"> </i> Google+'), gmail_path, :method => :get) %></li>
        <li><%= link_to(raw('<i class="fa fa-twitter"> </i> Twitter'), twitter_path, :method => :get) %></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fa fa-share"></i> Share</a>
      <ul class="submenu hidden">
        <li><%= link_to(raw('<i class="fa fa-facebook"> </i> FaceBook'), facebook_share_path, :method => :get) %></li>
        <li> <%= link_to(raw('<i class="fa fa-google-plus"> </i> Google+'), gmail_share_path, :method => :get) %></li>
        <li><%= link_to(raw('<i class="fa fa-twitter"> </i> Twitter'), twitter_share_path, :method => :get) %></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fa fa-usd"></i> Payment</a>
      <ul class="submenu hidden">
        <li> <a href="#"> <i class="fa fa-credit-card"></i> Credit Card </a></li>
        <li> <a href="#"> <i class="fa fa-cc-stripe"></i></i> Paypal </a></li>
        <li> <a href="#"> <i class="fa fa-cc-stripe"></i> Stripe </a></li>
        <li> <a href="#"> <i class="fa fa-circle"></i> Payson </a></li>
      </ul>
    </li>
  </ul>
</div>
<div class="content-wrapper">
  <%= yield %>
</div>
<%# end %>
</body>
<script type="text/javascript">
    $(document).off('click', '.sidebar-nav a').on('click', '.sidebar-nav a', function () {
        $('li').children('ul').addClass('hidden');
        $('li').find('a').removeClass('active_bar');
        $(this).parent().children('ul').removeClass('hidden');
        $(this).addClass('active_bar');
    });
</script>
</html>
